@media (max-width: 1500px) {
    .row {
        max-width: 1200px;
    }
    .menu li {
        margin-left: 28px;
    }
    .slider_text,
    .big_text {
        font-size: 32px;
        margin-top: 60px;
    }
    .slider_small_text,
    .small_text {
        font-size: 21px;
    }
    .left_side {
        max-width: 480px;
    }
    .ravt {
        margin-top: 70px;
    }

}

@media (max-width: 1300px) {
    .row {
        max-width: 1000px;
    }
    .menu li {
        margin-left: 28px;
        font-size: 14px;
    }
    .menu a {
        font-size: 14px;
    }
    header img {
        width: 130px;
    }
    .phone {
        font-size: 20px;
    }
    .ravt {
        width: 90%;
        margin-top: 45px;
    }
    .left_side {
        max-width: 420px;
    }
    .slider_title {
        margin-top: 120px;
    }
    .slider_item1,
    .slider_item2,
    .slider_item3 {
        height: 700px;
    }
    .slider_small_text {
        width: 50%;
    }
    .fos {
        padding-top: 50px;
    }
    .policy {
        max-width: 360px;
        font-size: 14px;
        line-height: 125%;
        width: 250px;
    }
    .contacts {
        height: 550px;
    }
    .contacts_title {
        margin-top: 35px;
    }
    .arrow {
        width: 56px;
        height: 56px;
    }
}
@media (max-width: 1100px) {
    .mt50{margin: 30px 0 0 0;}
    .row {
        max-width: 800px;
    }
    .menu a {
        font-size: 12px;
    }
    .menu li {
        margin-left: 14px;
    }
    .phone {
        font-size: 16px;
    }
    header img {
        width: 113px;
    }
    .left_side {
        max-width: 330px;
    }
    .ravt {
        margin-top: 25px;
    }
    .slider_text,
    .big_text {
        font-size: 26px;
        margin-top: 50px;
    }
    .slider_small_text,
    .small_text {
        font-size: 14px;
        margin-top: 20px;
        line-height: 18px;
    }
    .button {
        width: 200px;
        height: 50px;
        font-size: 14px;
        border-radius: 25px;
    }
    .hdrow {
        height: 100px;
    }
    .arrow {
        width: 46px;
        height: 46px;
    }
    .slider_nav_right,
    .slider_nav_left {
        width: 50px;
        height: 50px;
    }
    .fos_header,
    .slider_title {
        font-size: 40px;
    }
    .mt70 {
        margin-top: 50px;
    }
    .mt30 {
        margin-top: 20px;
    }
    .fos_info {
        font-size: 14px;
    }
    .input_item::placeholder {
        font-size: 14px;
    }
    .ml40 {
        margin-left: 10px;
    }
    .fos {
        height: 450px;
    }
    .contacts_title {
        font-size: 40px;
        margin-top: 20px;
    }
    .yamap550 {
        display: none;
    }
    .yamap400 {
        display: flex;
    }
    .contacts {
        height: 400px;
    }
    .contacts_adress {
        margin-top: 15px;
        font-size: 14px;
    }
    .contacts_reference {
        margin-top: 20px;
    }
    .contacts_email {
        font-size: 14px;
    }
    .footer_rights a {
        font-size: 12px;
    }
    .footer_policy {
        max-width: 300px;
        font-size: 12px;
    }
    .footer_logo_img img {
        max-width: 200px;
    }
    .footer_set {
        height: 95px;
    }
}
@media (max-width: 850px) {
    .row {
        max-width: 700px;
    }
    .menu a {
        font-size: 11px;
    }
    .menu li {
        margin-left: 14px;
    }
    .phone {
        font-size: 14px;
    }
    header img {
        width: 98px;
        transform: translateY(5px);
    }
    .left_side {
        max-width: 290px;
    }
    .mt70 {
        margin-top: 30px;
    }
    .mt30 {
        margin-top: 10px;
    }
    .slider_small_text, 
    .small_text {
    font-size: 11px;
    line-height: 14px;
    }
    .button {
        width: 150px;
        height: 40px;
        font-size: 11px;
    }
    .slider_nav_right,
    .slider_nav_left {
        width: 40px;
        height: 40px;
    }
    .fos_header, .slider_title {
        font-size: 26px;
    }
    .slider_text, .big_text {
        margin-top: 10px;
        font-size: 16px;
    }
    .slider_small_text, .small_text {
        font-size: 11px;
        line-height: 14px;
    }
    .slider_small_text, .small_text {
        margin-top: 7px;
    }
    .slider_title {
        margin-top: 40px;
    }
    .slider_item1,
    .slider_item2,
    .slider_item3 {
        height: 400px;
    }
    .fos {
        padding-top: 30px;
        height: 360px;
    }
    .fos_header {
        line-height: 44px;
    }
    .contacts_title {
        font-size: 26px;
        margin-top: 20px;
        line-height: 35px;

    }
    .yamap400 {
        display: none;
    }
    .yamap300 {
        display: flex;
    }
    .contacts {
        height: 300px;
    }
    .contacts_info {
        margin-left: 30px;
    }
    .fos_info {
        font-size: 11px;
    }
    .policy {
        font-size: 11px;
        width: 220px;
    }
    .input_item::placeholder {
        font-size: 11px;
    }
    .contacts_adress {
        margin-top: 10px;
        font-size: 11px;
    }
    .contacts_email {
        margin: 0;
        font-size: 11px;
    }
    .contacts_ref_item {
        font-size: 13px;
    }
    .mt40 {
        margin-top: 15px;
    }
    .contacts_reference {
        margin-top: 15px;
    }
    .footer_rights a {
        font-size: 11px;
    }
    .footer_policy {
        max-width: 200px;
        font-size: 11px;
    }
}
@media (max-width: 720px) {
    .row {
        max-width: 600px;
    }
    .hdrow {
        height: 80px;
    }
    body {
        background: none;
    }
    header {
        box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
    }
    .menu {
        display: none;
    }
    .phone {
        display: none;
    }
    .left_side {
        max-width: 400px;
    }
    .right_side {
        display: none;
    }
    .main_screen {
        margin-bottom: 60px;
        justify-content: space-evenly;
    }
    .slider_title{
        text-align: center;
    }
    .small_text,
    .slider_small_text {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
    }
    .slider_text, 
    .big_text {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        font-size: 38px;
    }
    .sliderbg_left {
        display: none;
    }
    .sliderbg_right {
        opacity: 0.2;
        width: 100%;
        right: 50%;
        top: 0%;
        transform: translateX(50%);
        z-index: -1;
    }
    .slider_nav {
        display: flex;
        justify-content: center;
    }
    .slider_small_text {
        margin: 30px auto;
    }
    .slider_item1, .slider_item2, .slider_item3 {
        height: 600px;
    }
    .slider_dots {
        bottom: 20px;
    }
    .ravt {
        margin-top: 130px;
    }
    .burger {
        display: flex;
        z-index: 40;
        position: absolute;
        top: 16px;
        right: 60px;
    }
    .menu-mobile {
        position: fixed;
        width: 50%;
        z-index: 30;
        transform: translateX(-120%);
        height: 100%;
        background: rgba(255,255,255, 1);
        transition: 0.5s;
        display: flex;
        box-shadow: 0px 0px 8px rgb(0 0 0 / 50%);
    }
    .menu-mobile_visible {
        transform: translateX(0);
    }
    header {
    position: fixed;
	top: 0;
	z-index: 35;
    background: #fff;
	height: 80px;
	display: flex;
	width: 100%;
	margin: 0 auto;
    align-items: center;
	justify-content: space-between;
    }
    .hdrow {
        background: #fff;
    }
    #button-1 {
        width: 100%;
    }
    .policy_button_cont {
        flex-direction: column;
        text-align: center;
    }
    #button-2 {
        margin-top: 20px;
    }
    .fos {
        background-image: url(img/mountains_blur.png);
        background-position: right;
        background-size: 160%;
        height: 450px;
        padding-top: 80px;
    }
    .button {
        height: 60px;
        border-radius: 30px;
        font-size: 20px;
        width: 50%;
    }
    .fos_header, 
    .slider_title {
        font-size: 38px;
        text-align: center;
    }
    .slider_nav_left,
    .slider_nav_right {
        width: 60px;
        height: 60px;
    }
    .policy {
        width: 100%;
        max-width: 460px;
        font-size: 20px;
    }
    .fos_info {
        font-size: 20px;
        text-align: center;
    }
    .input_item::placeholder {
        font-size: 18px;
    }
    .input_item {
        width: 100%;
    }
    .footer_set {
        flex-direction: column;
    }
    .footer_logo_img img {
        max-width: 290px;
        margin-top: 50px;
    }
    .footer_rights {
        margin-top: 40px;
        font-size: 16px;
    }
    .footer_rights a {
        font-size: 16px;
    }
    .footer_policy {
        max-width: 400px;
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }
    .contacts {
        height: 1000px;
        display: block;
    }
    .yamap300{
        display: none;
    }
    .yamap550 {
        display: flex;
        width: 100%;
    }
    .contacts_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts_title {
        margin-top: 70px;
        font-size: 38px;
    }
    .contacts_adress,
    .contacts_email,
    .contacts_reference,
    .contacts_ref_item {
        margin-top: 20px;
        font-size: 20px;
    }

        

}