.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt55{margin-top: 55px;}
.mt70{margin-top: 70px;}
.mt85{margin-top: 85px;}
.mt250{margin-top: 250px;}

.ml40{margin-left: 40px;}

body {
	font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-image: url("img/mount.png");
    background-repeat: no-repeat;
    background-position: right 0px;
    background-size: 57%;
    margin: 0;
}

.row {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/*-----------------------------------------*/

header {
	height: 130px;
	display: flex;
	width: 100%;
	margin: 0 auto;
    align-items: center;
	justify-content: space-between;
}

.phone {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.menu {
    display:flex;
    margin: 0;
    padding: 0;
}
.menu li {
	list-style: none;
	margin-left: 40px;
}

.menu a {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
}

.list_black {
	color: #323232;
	transition: 0.3s;
}
.list_black:hover {color: #1095BF;}

.list_white {
	color: #fff;
	transition: 0.3s;
}
.list_white:hover {color: #EBB600;}

.main_screen {
    display: flex;
    flex-wrap: wrap;
}

.left_side {
    width: 100%;
    max-width: 600px;
}

.right_side {
    width: 50%;
    position: relative;
}
.bmw {
    position: absolute;
    top: 0px;
    right: -23%;
 }

.bmw img {
    width: 500px;
 }

.ravt {
    margin-left: 24px;
    margin-top: 145px;
}

.big_text {
    font-weight: 600;
    font-size: 42px;
}

.small_text {
    font-weight: 400;
    font-size: 24px;
}

.small_text_container {
    max-width: 562px;
}

.text_link {
    color: #1095BF;
    transition: 0.3s;
}
.text_link:hover {color: #ebb600;}

.policy_link {
    color: #1095BF;
    transition: 0.3s;
}
.policy_link:hover {color: #ebb600;}

.button {
    background: #EBB600;
    width: 250px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{background: #1095BF;}

.arrow {
    position: fixed;
    background: url(img/arrow.svg)no-repeat;
    background-size: cover;
    cursor: pointer;
    bottom: 8.5%;
    right: 2%;
    width: 66px;
    height: 66px;
    transition: 0.3s;
    z-index: 5;
    display: none;
}
.arrow:hover{opacity: 50%;}
.arrow_visible {
    display: block;
    transition: 0.3s;
}

.slider_item1 {
    background-image: url("img/slider_background.png");
    background-repeat: no-repeat;
    background-position: right 0% center;
    background-size: 100% ;
    height: 910px;
}

.slider_item2 {
    background-image: url("img/slider_background.png");
    background-repeat: no-repeat;
    background-position: right 0% center;
    background-size: 100% ;
    height: 910px;
}

.slider_item3 {
    background-image: url("img/slider_background.png");
    background-repeat: no-repeat;
    background-position: right 0% center;
    background-size: 100% ;
    height: 910px;
}

.slider_title {
    margin-top: 250px;
    font-weight: 600;
    font-size: 60px;
    line-height: 74px;
}

.slider_text {
    margin-top: 120px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.slider_small_text {
    max-width: 640px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.slider_nav {
    display: flex;
}

.slider_nav_left {
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
}
.slider_nav_left:hover {opacity: 50%;}

.slider_nav_right {
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
}
.slider_nav_right:hover {opacity: 50%;}

.slider_dots {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}
.slider_dots button {display: none;}
.slider_dots li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.3s;
}
.slider_dots .slick-active {background: #EBB600;opacity: 1;}
.slider_dots li:hover {background: #EBB600;opacity: 0.5;}

/*-----------------------------------------*/
.fos {
    width: 100%;
    height: 540px;
    background-image: url(img/mountains.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 128px;
    
}

.fos_small_row {
    align-self: flex-start;
}

.fos_header {
    font-weight: 600;
    font-size: 60px;
    line-height: 74px;

}

.fos_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-top: 20px;
    width: inherit;
}

.input {
    color: #929292;
    margin-top: 20px;
    font-size: 14px;
    line-height: 150%;
    width: inherit;
}

.input_item {
    font-family: 'Gilroy';
    display: block;
    height: 40px;
    width: 45%;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #676767 ;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input_item::placeholder {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-shadow:none;
    color: #5B5B5B;
    transition: 0.3s;
}
.input_item:focus {outline: none;}

.input_item:focus::placeholder {
    transform: translateY(50px);
}

.policy_button_cont {
    display: flex;
    align-items: center;

}

.policy {
    max-width: 360px;
    font-size: 14px;
    line-height: 125%;
    width: 360px;
}

.contacts {
    height: 550px;
    display: flex;
}

.yamap550,
.yamap400,
.yamap300 {
    width: 50%;
}
.yamap400,
.yamap300 {
    display: none;
}

.contacts_info {
    display: block;
    margin-left: 80px;
}

.contacts_title{
    font-weight: 600;
    font-size: 60px;
    line-height: 74px;
    
}

.contacts_adress {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.contacts_email {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.contacts_reference {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #1095BF;
    transition: 0.3s;
}

.contacts_reference path {
    transition: 0.1s;
    fill: #1095BF;
}

.contacts_reference:hover,
.contacts_reference:hover path {
    fill: #EBB600;
    color: #EBB600;
}

.contacts_ref_item {
    margin-left: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
}

footer {
    border-top: 1px solid #dcdcdc;
}

.footer_set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 155px;

}

.footer_logo_img {
    max-width: 350px;
}


.footer_rights a {
    font-weight: 400;
    font-size: 14px;    
    line-height: 17px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.footer_rights a:hover {color: #ebb600;}

.footer_policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    width: 350px;
    text-align: right;
}

.footer_policy a {
    color: #000;
    transition: 0.3s;
}
.footer_policy a:hover {color: #ebb600;}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup_visible{display: flex;}

.popup_block_form {
    margin-top: 25px;
    width: 100%;
}

.popup_main {
    position: relative;
    background: #fff;
    padding: 30px 55px;
    border-radius: 5px;
}

.popup_close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    transition: 0.3s;
    cursor: pointer;
}
.popup_close::before,
.popup_close::after{
    position: absolute;
    content: " ";
    top: 11px;
    right: 0;
    width: 22px;
    height: 2px;
    background: #ebb600;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popup_close::after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.popup_close:hover::before,
.popup_close:hover::after{background: #000;}

.popup_block {
    margin: 0 auto;
    max-width: 368px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popup_title {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup_block_form {
    background: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px 20px 14px 20px;
    position: relative;
}
.popup_block_label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B7B7B7;
    position: absolute;
    left: 20px;
    top: 26px;
    transition: 0.3s;
}

.popup_textarea,
.popup_input_item {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    background: none;
    border: none;
    width: 100%;
    resize: none;
   
}

.popup_input_item:focus,
.popup_textarea:focus {
    outline: none;
}

.popup_textarea:focus~.popup_block_label,
.popup_input_item:focus~.popup_block_label,
.popup_textarea:not(:focus):valid~.popup_block_label,
.popup_input_item:not(:focus):valid~.popup_block_label{
    top: 10px;
    font-size: 12px;
}

.popup_check input{
    display: none;
}

.popup_check label{
    padding-left: 28px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: block;
    position: relative;
    cursor: pointer;
}

.popup_check label::before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    background: #EBB600;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.popup_check input:checked~label::before {
    background: #EBB600 url(img/Vector.svg)no-repeat 50%;
}

.popup_check label a {
    color: #ebb600;
    transition: 0.3s;
}
.popup_check label a:hover{color: #000;}

.conf-policy {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1100;
	display: none;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 70%);

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.conf-policy-visible {
	display: flex;
}

.conf-main {
	background: #fff;
	width: 80%;
	height: 80%;
	position: relative;
	padding-bottom: 30px;
	border-radius: 5px;
}

.conf-close {
	z-index: 1200;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	padding: 10px;
}

.conf-close path {
	fill: #1095BF;
	transition: 0.3s;
}

.conf-close:hover,
.conf-close:hover path {
	fill: #ebb600;
}

.conf-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-y: auto;
	height: 94%;
	padding:30px 45px 0 30px;
	margin-top: 12px;
}

.conf-block-h2 {
	font-size: 26px;
	font-weight: 600;
	color: #28292e;
}

.conf-block p {
	font-size: 16px;
	color: #28292e;
}

.conf-block a {
	color: #28292e;
	transition: 0.3s;
}

.conf-block a:hover {
	color: #facd88;
}